.todo-item{
    width: 432px;
    height: 75px;
    padding: 0 15px;


    background-color: var(--bg-todo-color);
    border-radius: var(--border-radius);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item p{
    margin: 0 15px;

    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-item-button {
    display: flex;

    gap: 10px; 
    cursor: pointer;   
}

.todo-item-button svg:hover{
    color: var(--button-color-hover);
}

@media screen and (max-width:480px){
    .todo-item{
        width: 300px;

        flex-direction: column;
        justify-content: start;
        align-items: center;

    }

    .todo-item p {
        margin: 10px;
        max-width: 100%;
        
        text-align: center;
    }

    .todo-item-button{
        margin-bottom: 10px;
    }

    .todo-form input{
        width: 240px;
        height: 40px;
        margin: 5px;
    }
    

}